<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="Con" connectionString="Data Source=localhost;Initial Catalog=FDDB;User ID=SA;Password=NW2018" providerName="System.Data.SqlClient"/>-->
    <add name="Con" connectionString="Data Source=localhost;Initial Catalog=FoodDoDB;User ID=SA;Password=NW2019" providerName="System.Data.SqlClient"/>
    <!--<add name="Con" connectionString="Data Source=mssql.10z.in;Initial Catalog=zin_EmpMng;User ID=zin_UserEmpMng;Password=@Semp-2019" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Con" connectionString="Data Source=SQL7005.site4now.net;Initial Catalog=DB_A47183_ERPEMP;User Id=DB_A47183_ERPEMP_admin;Password=123456hH" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Con" connectionString="Data Source=88.99.212.48;Initial Catalog=fooddo786_FoodDoDB;User ID=fooddo786_fooddoUserDB;Password=mQmw96@0" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="LogLevel" value="5"/>
    <add key="Host" value="http://192.168.1.12:90"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization uiCulture="en" culture="en-GB"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: E8C39A3D-5B76-41DB-8293-FD04B18A6F6A-->
<!--ProjectGuid: 764A2921-FD83-4012-B3B4-DD3F32D72889-->